/* style.css */

#board {
  float: left;
}

#scoreBoard {
  float: left;
  margin-top: 20px;


  div {
    padding: 15px;
  }

  input {
    border: 0;
    background: transparent;
    width: 50px;
    text-align: center;
  }
}

.grid {
  min-width: 50px;
  min-height: 50px;

  margin: 10px;

  border-collapse: collapse;
  border-spacing: 0;

  padding: 0px;

  line-height: 15px;
  font-size: 0;

  .square {
    border: solid 1px black;

    width: 33%;
    height: 33%;

    padding: 0px;
    margin: 0px;

    .top {
      border-top-color: rgba(255, 255, 255, 0);
    }

    .bottom {
      border-bottom-color: rgba(255, 255, 255, 0);
    }

    .left {
      border-left-color: rgba(255, 255, 255, 0);
    }

    .right {
      border-right-color: rgba(255, 255, 255, 0);
    }
  }

  .activeSquare td {
    border-style: solid !important;
  }

  .inactiveSquare td {
    border-style: dashed !important;
  }
}

.unowned {
  background-color: rgba(255, 255, 255, 0.75);
}

.p1owned {
  background-color: rgba(200, 0, 0, 0.5);
}

.p2owned {
  background-color: rgba(0, 0, 155, 0.5);
}

